@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
 :root{
/*  --mainColor: #0B0C10;*/
      --mainColor: black;
  --white: #C5C6C7;
  --navy: #1F2833;
  --darkGreen: #45A29E;
  --purple:#66FCF1;
}
body{
 background-color: var(--mainColor);
    background-size: contain;
  color:white;
  font-family: 'Lato', sans-serif;
  margin: 0px;
    width: 100%;
}
p{
  font-size: 20px;
}
.wrapper{
    position: fixed;
    width: 100%;
    z-index: 9;
   
}
nav{
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(3,1fr);
  
 
  
}
nav a{
    font-size: 18px;
    background-color: var(--purple);
  display:block;
  padding:10px;
  text-align: center;
  text-decoration: none;
  color: #0E1111;
  -webkit-transition:  background-color 1.2s;
    transition:  background-color 1.2s;
}
nav a:hover{
    background-color: white;
}
h1{
color: var(--purple);
}
/***words*****/
h3{
  font-size: 50px;
  font-weight: bolder;
  color: var(--darkGreen)
}
.titleSection{
    width: 400px;
    height: 200px;
    margin-bottom: 00px;
}
/******section*********/
.contextWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
 align-items: center;
 justify-content: space-evenly;
 text-align: center;
}
#About_me {
     display: flex;
  background-image: url(https://images.pexels.com/photos/745243/pexels-photo-745243.jpeg?auto=compress&cs=tinysrgb&h=350);
  background-size:100% 100%;;
  background-origin: border-box;
  background-repeat: no-repeat;
  background-position: center center;
  height:700px;
  width: 100%;
    align-items: center;
    justify-content: center;
    -webkit-filter: saturate(18) blur(10%);
    filter: saturate(180deg) blur(5px);
}
 .pclass{
     
   width: 800px;
     font-size: 40px;
    transform: translate(0px,150px);
     align-self: center;
     text-overflow: ellipsis;
  
 
}
.square{
  margin:30px;
  height: 100px;
 
}
#anim{
  background-color: var(--purple);
  padding: 3px 30px 3px 30px ;
  margin: 0px;
  position: relative;
  display: inline-block;
  animation:mov-square;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate-reverse;
}
@keyframes mov-square{
0%{
  padding:30px ;
}
100%{
padding-left: 250px;
padding-right: 250px;
}
}
#Skills{
  width: 100%;
  background-image: url(../img/art-backlight.jpg);
  background-size: cover;
  background-repeat: no-repeat;
 height:630px;
 width: 100%;
    margin-top: 100px;

}
#Skills h3{
transform: translate( -3px , -50px);
}

@media only screen and (max-width: 500px){
  nav{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr;
  }
  h3{
    font-size: 45px;
  }
    .titleSection{
        margin-top: 100px;
    }
  #Skills{
    background-position: 0px 30px;

  }
}




